body {
	background-color: black;
}

canvas {
	border: 2px solid black;
	background-color: black;
}

.label {
	margin: 0px;
	padding: 0px;
}
.slider {
	margin: 0px;
	padding: 0px;
}
.rangelabel {
	margin: 0px;
	padding: 0px;
}
.attribute {
	margin: 0px;
	padding: 0px;
}